<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>

        <% if (currentUser) { %>
          Welcome <%= currentUser.username %>
          <form action="/sessions?_method=DELETE" method="POST">
            <input class="waves-effect waves-light btn" type="submit" value="Log Out">
          </form>
          <a href="/app" class="waves-effect waves-light btn">Join the Party</a>

      </h1>

        <% } else { %>
          <div class="">

            <button type="button" onclick="window.location.href='/sessions/new'">Log In</button>
            <button type="button" onclick="window.location.href='/users/new'">Sign Up</button>


          </div>

        <% } %>

    </div>
  </body>
</html>
