<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/logIn.css">
  </head>
  <body>

      <% if (currentUser) { %>
        Welcome <%= currentUser.username %>
        <h1>
          <form action="/sessions?_method=DELETE" method="POST">
            <input class="waves-effect waves-light btn" type="submit" value="Log Out">
          </form>
          <a href="/app">Join the Party</a>

        </h1>

      <% } else { %>
      <div class="container">

          <div class="greeting">
            <div class="pin"></div>
            <div class="text">
              <h2>Welcome to NOTE.js</h2>
              <p>Add notes to your own virtual bulletin board! From to-do's, to reminders, to simple motivational messages, whatever you can think of:</p><br>
              <p>You can NOTE it!</p>
            </div>

          </div>

          <div class="logIn">
            <div class="pin"></div>

            <div class="holder">
              <button class="newButton" type="button" onclick="window.location.href='/sessions/new'">Log In</button>
              <button class="newButton" type="button" onclick="window.location.href='/users/new'">Sign Up</button>
            </div>

          </div>


        <% } %>

      </div>
  </body>
</html>
